.custom-toast {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1050; 
  }
.closebox {
    font-size:20px;
    margin-left:10px;
    cursor:pointer;
}

#ImageinCard{
    width:200px;
    height:200px;
}